<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="img/logo.svg" />
    <link href="css/generalStructure.css" rel="stylesheet" />
    <title>BigO!</title>
  </head>

  <body>

    <body>
      <nav>
        <div class="navbar__item navbar__item--left navbar__hamburguer"></div>
        <div class="navbar__item">
          <div class="navbar__item">
            <div class="input-search-container">
              <input class="input--without-border">
              <img class="input__image" src="img/search.svg">
            </div>
          </div>
          <button class="button--call-to-action no-select">Pesquisar</button>
        </div>
        <div class="navbar__item navbar__item--right">
        </div>
      </nav>
    </body>
  </body>

</html>